
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: Outfit;
}
@layer base{
    html{
        scroll-behavior: smooth;
    }
}
::-webkit-scrollbar{
    display: none;
}
.rich-text{
    font-size: 15px;
    color: #7A7B7D;
}
.rich-text p{
    margin-bottom: 16px;
}
.rich-text h1{
  font-size: 36px ;
  font-weight: 800;
  color: #252525;
  margin: 20px 0 10px;
 
}
.rich-text h2 {
  font-size: 22px;
  font-weight: 700;
  color: #252525;
  margin: 20px 0 10px;
}

.rich-text ol {
  list-style-type: decimal;
  margin-left: 40px;
  margin-bottom: 16px;
}

.rich-text li {
  margin-bottom: 8px;
  line-height: 1.5;
}

.rich-text strong {
  font-weight: 700;
 color: #252525;
}